
body {
    padding: 50px;
    font-family: 'Audiowide', cursive;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

p {
    font-size: 14px;
    line-height: 26px;
}


.section {
    padding: 80px 0;
}

.section-header {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.section-header .section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    position: relative;
}

.section-header .section-title span {
    color: #61D2B4;
}

.section-header .section-subtitle {
    margin-top: 15px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.section-header .lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #61D2B4;
    margin-top: 15px;
}

.nav-item {
    font-size: 20px;
    display: inline-block;
    margin: 0 0.5rem;
}

.nav-item.active {
    animation: flip;
    animation-duration: 1s;
}

.btn-outline-success {
    background-color: lightskyblue;
    color: purple;
    font-size: 20px;
    border-radius: 20px;
}

.carousel-caption h3 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;

}

.carousel-caption p {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
}

.item-boxes {
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.item-boxes .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #f1f1f1;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item-boxes .icon i {
    font-size: 26px;
    line-height: 60px;
    color: #61D2B4;
}

.item-boxes h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-boxes:hover .icon {
    background: #61D2B4;
}

.item-boxes:hover .icon i {
    color: #fff;
}

.page-footer {
    background-color: wheat;
}


#form1-2w {
    z-index: 0;
    position: relative;
    background-image: none;
    background-attachment: scroll;
    background-size: auto;
}

.mbr-overlay {
    opacity: 0.9;
    background-color: rgb(189, 224, 235);
}

#jarallax-container-0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -100;
}

.container-div {
    background-image: url("https://i.pinimg.com/originals/78/54/dc/7854dccccc6f6abb22aea0fc7426df42.jpg");
    visibility: visible;
    width: 125%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

